
# Ignore .pyc files
*.pyc 

# Ignore gimel studio project files that I use for testing :)
*.gimel-studio-project

# No need to commit Pipfile.lock
Pipfile.lock

# Ignore my personal development file folders
ideas
myreference
tests

# Ignore built application folders/files
build
dist
*.spec

# Ignore built docs
docs/build

# Ignore test images!!
src/*.png
src/*.jpg
src/*.jpeg

# Ignore past splash screens
assets/splashscreens/GIMEL_STUDIO.png

# Ignore other files...
INFO.txt
