[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
v = {editable = true,version = "*"}
sphinx-rtd-theme = "*"
pyinstaller = "*"

[packages]
pillow = "*"
wxpython = "*"
scipy = "*"
numpy = "*"
opencv-python = "*"
